{{> header}}
<div id="main-content">
    <div class="search-form">
        <p class="search-section-sentence">Search. Find. Contact. Rate.</p>
        <p class="search-section-sentence">Avoid bad landlord experiences.</p>
        <form>
            <input id="search-text" name="search-text" type="search"
                placeholder="Enter an address...">
            <input type="button" value="search" id="search-button" />
        </form>
    </div>
    <div class="home-reviews-section">
        <h1 class="search-section-sentence">Top 3 Landlords</h1>
        {{> cards}}
    </div>
</div>
{{>footer}}

<script>
    let searchButton = document.getElementById("search-button");

    function createCard(postData) {
        return `<div class="container">
    <di class="container-profile">
        <p class="landlord-name">${postData.post.body}</p>
        <p class="landlord-rating">${postData.post.rating}</p>
    </di>
    <img class="landlord-img"
        src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
</div>`;
    }

    function searchResults(newContent) {
        return `<div id="search_results_main">
    <div id="search_results_filters">
       <button class="btn active" onclick="filterSelect"('all')>Search Filters</button>

    <button class="btn" onclick="filterSelect" ('Price')>Price</button>
    <button class="btn" onclick="filterSelect" ('Rating')>Rating</button>
    <button class="btn" onclick="filterSelect" ('Beds')>Beds</button>
    <button class="btn" onclick="filterSelect" ('Baths')>Baths</button>
    </div>
    <div id="search_results_card_section">
        <h1>Search Results</h1>
        <div id="search_results_cards">
            ${newContent}
        </div>
    </div>
</div>`;
    }

    function executeSearch() {
        let searchTerm = document.getElementById("search-text").value;
        if (!searchTerm) {
            location.replace('/');
            return;
        }
        let mainContent = document.getElementById("main-content");
        let newContent = '';
        let newMainContent = '';
        let searchURL = `/posts/${searchTerm}`;
        fetch(`http://localhost:8080${searchURL}`)
            .then(res => res.json())
            .then(data => {
                console.log(data);
                if (data.post.title != undefined) {
                    newContent += createCard(data);
                    newMainContent += searchResults(newContent);
                    mainContent.innerHTML = newMainContent;
                }
            })
            .catch(err => {
                console.log('Data not found in database.');
            })
    }

    searchButton.onclick = executeSearch;
</script>