{{> header}}
<div id="main-content">
    <div class="search-form">
        <p class="search-section-sentence">Search. Find. Contact. Rate.</p>
        <p class="search-section-sentence">Avoid bad landlord experiences.</p>
        <form>
            <input id="search-text" name="search-text" type="search" placeholder="Enter an address...">
            <input type="button" value="search" id="search-button" />
        </form>
    </div>
    <div class="home-reviews-section">
        <h1 class="search-section-sentence">Top 3 Landlords</h1>
        {{> cards}}
    </div>
</div>
{{>footer}}

<script>
    let searchButton = document.getElementById("search-button");

    function createCard(data) {
        return `<div class="listing-container">
    <img class="listing-img"
        src="./images/picture_1666042712023.jpeg">
    <di class="listing-container-profile">
        <div class="listing-card-profile-section">
            <img class="listing-card-profile-img"
                src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"/>
        </div>
        <div class="listing-container-profile-text">
            <p class="listing-card-price">$${data.price}</p>
            <p class="listing-card-city"><b>${data.city}</b></p>
        </div>
    </di>
</div>`;
    }

    function searchResults(newContent) {
        return `<div id="search_results_main">
    <div id="search_results_filters">
    {{> searchfilters}}
    <input type="button" value="Apply" id="apply-filters-button" />
    </div>
    <div id="search_results_card_section">
        <h1>Search Results</h1>
        <div id="search_results_cards">
            ${newContent}
        </div>
    </div>
</div>`;
    }

    function executeSearch() {
        let searchTerm = document.getElementById("search-text").value;
        if (!searchTerm) {
            location.replace('/');
            return;
        }
        let mainContent = document.getElementById("main-content");
        let newContent = '';
        let newMainContent = '';
        let searchURL = `/listing/${searchTerm}`;
        fetch(`http://localhost:8080${searchURL}`)
            .then(res => res.json())
            .then(data => {
                let temp = data.listing;
                for (const temp1 in temp) {
                    newContent += createCard(temp[temp1]);
                }
                newMainContent += searchResults(newContent);
                mainContent.innerHTML = newMainContent;
            })
            .catch(err => {
                console.log('Data not found in database.');
            })
    }
    searchButton.onclick = executeSearch;
</script>