<div class="review">
    <div class="profile-page-reviews">
        <div class="profile-page-review">
            {{author}}
            <div class="review-rating">
                {{> rating rating}}
            </div>
            <h2 class="review-title">{{title}}</h2>
            <p class="review-desc">
                {{description}}
            </p>
        </div>
    </div>
</div>