<div class="navbar">
    <div class="nav">
        <div class="nav-left">
            <a class="home-btn" href="/"><span>
                    <div class="nav-title">
                        <img class="logo" src="images/home.png" alt="">
                        <header class="header">
                            EzRent
                        </header>
                    </div>
                </span></a>
        </div>
        <div class="nav-left">
            <a class="home-button" href="/about">About</a>
            <a class="home-button" href="/">Help</a>
            <a class="home-button" href="/">Login</a>
        </div>
    </div>
</div>