{{> homeBtn}}
<h1>About Praise Eubany:</h1>
<div class="about_wrapper">
    <div class="image" id="praiseimg">
        <img src="images\SNAP_20220826-232405.jpg">
    </div>
    <p class="paragraph">
        Hello,  My name is Praise O.Eubany.I am Fifth year at sfstate. I am majoring in Computer science with my minors in mathematics. 
        I am debating pursuing product management or Data Science as a career. My knowledge of product management was unexistant until I 
        enrolled in this class. After hearing the professor speak on the responsibilites of product management, my interest quickly peaked and my own personal research
        on said career bath began. So depending on which route I take, it will ulitmately effect my decision on which master degree I would go into. 
        My objective is to pass this class and graduate and make good, lasting connections with anyone willing. Thank you for listeneing!!
    </p>
</div>