{{> homeBtn}}
<h1>About Tung Nguyen:</h1>
<div class="about_wrapper">
    <div class="image" id="praiseimg">
        <img src="images/30261519_125556454960860_3492263433368240128_n.jpeg">
    </div>
    <p class="paragraph">
        Hello,  My name is Tung Nguyen. I'm in Senior years and will graduate in Spring 2023. I'm pursuing a Bachelor's degree in Computer Science and
         looking for an internship opportunity. With my knowledge and experience at CCSF and SFSU, I will bring my best to successful contributions in the field.      
        </p>
</div>