.hook {
    background-color: #f0f0f0;
    border-color: #f0f0f0;
    border-style: solid;
    border-radius: 3px;
    /*
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    */
    width: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    top: 65px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 50px;
    font-weight: bold;
}

#welcome-section {
    min-height: 75vh;
}

#welcome {
    margin-top: 30vh;
}

.search {
    color: #031424;
    width: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: auto;
    padding-bottom: 11px;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: -1;
}

.search-prompt {
    font-size: smaller;
    text-align: left;
}

.dropdown {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 1.5px;
    border-color: #247464;
    border-radius: 2px 0 0 2px;
    width: 120px;
    height: 30px;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.dropdown:hover {
    background-color: #80B494;
    cursor: pointer;
}

.dropdown:hover .dropdown-button {
    background-color: #f0f0f0;
}

#landlords-option {
    display: none;
}

.dropdown-options {
    position: relative;
    width: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 4px;
}

.dropdown-options:hover {
    color: #031424;
}

.dropdown-option {
    margin: auto;
    height: 100%;
}

.dropdown-button {
    position: absolute;
    content: "";
    width: 0.8em;
    height: 0.5em;
    background-color: #247464;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    right: 4px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    bottom: -45px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #247464;
    border-radius: 0 0 2px 2px;
    width: 120px;
    height: 62px;
    align-items: center;
    overflow: hidden;
}

.dropdown-menu-container {
    border-style: solid;
    border-width: 0.5px;
    border-color: #247464;
    margin-top: auto;
    margin-bottom: auto;
    height: 30px;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.dropdown-menu-container:hover {
    background-color: #80B494;
    cursor: pointer;
}

.dropdown-menu-item {
    position: relative;
    width: fit-content;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 4px;
}

.dropdown-menu-content {
    margin-top: auto;
    margin-bottom: auto;
}

.search-bar {
    margin-left: 10px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #247464;
    border-radius: 0 2px 2px 0;
    width: 600px;
    height: 45px;
    font-size: 26px;
    text-align: left;
    margin-top: 5.5px;
}

#listing-section {
    position: relative;
    height: fit-content;
}

#listing {
    position: absolute;
    left: 50%;
    margin-left: -265px;
}

#listing-section {
    overflow: auto;
    height: auto;
}

.featured-listings {
    position: absolute;
    top: 0;
    height: fit-content;
}

.featured-listing {
    height: fit-content;
    position: relative;
    top: 0;
    margin-bottom: -4px;
}

.listing-picture {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    /* position: absolute;
    top: 0; */
}

.listing-info {
    position: absolute;
    top: 15vh;
    left: 5vw;
    background-color: #f0f0f0;
    border-radius: 10px;
    height: 300px;
    padding: 7px;
}

.review {
    position: absolute;
    top: 20vh;
    right: 5vw;
    background-color: #f0f0f0;
    border-radius: 10px;
    height: 300px;
    padding: 7px;
}

.rating, .review-title-line {
    display: flex;
    flex-direction: row;
}