:root {
    --white: #f0f0f0;
    --white-green: #e3fff0;
    --green-white: #80b494;
    --green: #3c885b;
    --green-2: #247464;
    --black: #031424;
    --gold: #d1ac0a;
    --background-light-mode: #f0f0f0;
    --background-dark-mode: #031424;
    --text-light-mode: #031424;
    --text-light-mode-1: #247464;
    --text-dark-mode: #f0f0f0;
    --text-dark-mode-1: #80b494;
    --text-dark-mode-2: #e3fff0;
    --border-light-mode: #247464;
    --border-dark-mode: #80b494;
    --border-light-mode-1: #3c885b;
    --border-dark-mode-1: #247464;
    --button-background: #f0f0f0;
    --button-background-1: #3c885b;
    --button-background-2: #031424;
    --button-background-3: #247464;
}

html {
    height: 100%;
}

body {
    background-color: var(--background-light-mode);
    color: var(--text-light-mode);
    min-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Verdana';
    min-width: 1000px;
}

.help-button {
    text-decoration: none;
    text-align: center;
    border: solid black;
    align-self: center;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    margin-top: 2px;
    padding: 7px 25px;
    margin-right: 5px;
    color: black;
}

.help-button:hover {
    background-color: #dcdcdc;
}

.login-header-button {
    text-decoration: none;
    text-align: center;
    background-color: #3C885B;
    border: solid #3C885B;
    color: #f0f0f0;
    align-self: center;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    margin-top: 2px;
    padding: 7px 25px;
    margin: 0 5px;
}

.login-header-button:hover {
    background-color: #2b6442;
}

.home-btn {
    text-decoration: none;
    color: black;
}

.aboutpage-header-title {
    text-align: center;
    margin-top: 100px;
}

.aboutpage-title {
    margin: 0 5px;
    font-size: 40px;
    color: black;
    font-family: inherit;
}

.about-links {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    font-size: 20px;
}

.about-buttons {
    margin-bottom: 10px;
    color: black;
    text-decoration: none;
    width: 25%;
    border: solid black;
    text-align: center;
}

.about-buttons:hover {
    text-decoration: underline;
}

.about_wrapper {
    display: flex;
    padding: 10px;
}

.paragraph {
    font-size: 30px;
    padding-left: 20px;
}

.devonimg,
.youssefimg,
.ricardoimg {
    width: 20%;
}

.issaimg,
.tungimg {
    width: 25%;
}

.praiseimg {
    width: 20%;
    height: 10%;
}

.navbar {
    background-color: #f0f0f0;
    height: 40px;
    border-bottom: solid #3C885B;
    color: #3C885B;
    padding: 10px;
    width: 100vw;
    position: fixed;
    z-index: 100;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.header {
    font-size: 35px;
    font-weight: 500;
    margin-top: 10px;
}

.nav-title {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-left: 20px;
}

.header-logo {
    width: 100px;
    margin: 0;
}

.nav-left {
    margin-right: 20px;
}

.search-form {
    margin-top: 30px;
    height: 40px;
    margin-bottom: 150px;
    text-align: center;
}

.search-section-sentence {
    font-size: 25px;
    font-weight: 500;
}

form {
    color: black;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
    display: inline-flex;
    margin: 0;
    left: 50%;
    justify-content: space-between;
    width: 50%;
}

input[type="search"] {
    border: none;
    width: 100%;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
}

input[type="search"]::placeholder {
    color: rgb(160, 160, 160);
}

#search-button {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}

#search-button:hover {
    opacity: 1;
}

#search-button:focus,
input[type="search"]:focus {
    outline: none;
}

.home-reviews-section {
    padding: 10px;
    text-align: center;
    font-size: 40px;
}

.top-landlords {
    display: flex;
    justify-content: space-between;
    padding: 0 90px;
    margin-top: 30px;
}

.container {
    width: 300px;
    height: 300px;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.315);
    margin-bottom: 120px;
    margin-left: 30px;
}

.container-profile {
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
    justify-content: space-between;
    border-bottom: solid black;
}

.landlord-img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.landlord-name {
    color: black;
    font-size: 1.2rem;
}

.landlord-rating {
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
}

footer {
    border-top: solid #3C885B;
    color: #3C885B;
    text-align: center;
    margin-top: auto;

}

footer p {
    padding-bottom: 10px;
    margin: 0;
    font-size: 20px;
}

.about-link {
    text-decoration: underline;
    color: #3C885B;
    text-align: center;
    padding-left: 5px;
    
}

.about-link:hover {
    text-decoration: underline;
}

#search_results_main {
    display: flex;
}

#search_results_filters {
    border-right: solid black;
}

.container:hover {
    background-color: rgb(62, 62, 62);
    color: #ffff;
    cursor: pointer;
    transform: scale(1.1);
}

#search_results_card_section {
    width: 1200px;
}

#search_results_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: .5em;
    margin-bottom: 20px;
    width: 90%;
    justify-content: left;
}

.listing-container {
    width: 300px;
    height: 300px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.315);
    margin-bottom: 120px;
    margin-left: 30px;
}

.listing-container:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.listing-container-profile {
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
}

.listing-card-profile-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
    margin-right: 10px;
}

.listing-card-profile-section {
    border-right: solid black;
}

.listing-card-price {
    color: black;
    font-size: 1.2rem;
    margin-left: 10px;
}

.listing-card-city {
    color: gray;
    font-size: 0.8rem;
    font-style: italic;
    margin-left: 10px;
}

.listing-img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.filters {
    display: flex;
    flex-direction: column;
}

/* .select {
    padding: 8px 12px;
    color: #333333;
    background-color: #eeeeeec9;
    border: 1px solid rgb(116, 116, 116);
    cursor: pointer;
    border-radius: 5px;
    font-family: inherit;
    font-size: inherit;
    width: 50%;
    margin: 5px;
}

.select:focus,
.select:hover {
    outline: none;
    border: 1px solid black;
}

.select option {
    background: white;
} */

#apply-filters-button {
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    color: black;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}

.search-select {
    padding: 8px 12px;
    color: #333333;
    background-color: #eeeeeec9;
    border: 1px solid rgb(116, 116, 116);
    cursor: pointer;
    border-radius: 5px;
    font-family: inherit;
    font-size: inherit;
    margin: 5px;
}

.search-select:focus,
.search-select:hover {
    outline: none;
    background-color: #cecece;
    border: 1px solid black;
}

.submit-btn{
    display: inline-block;
    height: 60px;
    width:350px;
    text-align: center;
    
    border-radius: 30px;
    color: #EAEFF2;;
    border: none;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(83, 131, 104);
    margin-bottom: 10px;
    margin-left: 10px;
    /* padding: 20px; */


}

/* Testing */
/* testing */
/* testing */


