<div class="navbar">
    <div class="nav">
        <div class="nav-left">
            <a class="home-btn" href="/"><span>
                    <div class="nav-title">
                        <img class="header-logo" src="/public/images/EZRent_Full_Logo_v2.svg" alt="">
                        {{!-- <header class="header">
                            EzRent
                        </header> --}}
                    </div>
                </span></a>
        </div>
        <div class="nav-left">
            <a class="help-button" href="/helppage">Help</a>
            <a class="login-header-button" href="/loginpage">Login</a>
        </div>
    </div>
</div>