<div id="search">
    <div class="dropdown field" id="search-dropdown">
        <div class="dropdown text">
            {{search-option}}
        </div>
        <div class="dropdown button">

        </div>
    </div>
</div>