<div class="listing-page">
    <img class="listing-image"></img>
    <div class="listing-info">
        <div class="address">

        </div>
        <div class="rating">

        </div>
        <div class="basic-info">

        </div>
        <div class="description">

        </div>
    </div>
    <div class="landlord-info">

    </div>
</div>