<body class ="open-body">
    <div class = "Overbox">
    <form class = "form-login">
    <img src ="logo.png" class="logo">
    <h2>Login</h2>
    <div class ="input-name">
       
        <input type = "text" name="" placeholder="Username" id ="loginUser" required>
        <!-- <p>Password</p> -->
        <!-- <input type = "text" name="" placeholder="E-mail address"> -->
        <!-- <p>Password</p> -->
        <input type = "password" name="" placeholder="Password" id ="loginPassword" required>
        <!-- <p>cPassword</p> -->
        <!-- <input type = "text" name="" placeholder="Confirm Password"> -->
        
    </div>

    <input type ="submit" name="" value="Login" class ="submit-btn">
    <div class = toRegister>
        <p class="txt-login">Don't have an account? <a href="/registration.html" class = "bud-login">Register</a></p>
    </div>
    </form>
            </div>
    
</body>
