<div id="main-content">
    <div class="home">
        <div class="home-sections">
            <div class="home-section" id="welcome-section">
                {{> hook hooks.welcome}}
                {{> search}}
            </div>
            <div class="home-section" id="listing-section">
                {{> hook hooks.listing}}
                {{> featuredListings listings}}
            </div>
            <div class="home-section" id="landlord-section">
                {{> hook hooks.landlord}}
                {{> featuredLandlords landlords}}
            </div>
            <div class="home-section" id="review-section">
                {{> hook hooks.review}}
                {{> badReview badReview}}
            </div>
            <div class="home-section" id="signup-section">
                {{> hook hooks.signup}}
                <div class="sign-up-button">
                    Sign up now
                </div>
            </div>
        </div>
        <!-- {{> quicknav}} -->
    </div>
</div>

<script src="/public/js/homepage.js"></script>