<!DOCTYPE html>
<html>
<style>
    .form-postlisting {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15vh;
        left: 0;
        right: 0;
        display: grid;
        grid-template-columns: 1fr, 1fr;
        grid-gap: -100px;
        width: 60vw;
        height: 140vh;
        border: 10px solid #444;
        border-radius: 50px;
        
    }
    .grid{
        
    }
    /* Add styles to the form container 
    .form-postlisting {
        border-radius: 50px;
        max-width: 600px;
        max-height: 600px;
        width: 60%;
        height: 100%;
        padding: 30px;
        background-color: #444;

    }*/
    .form-wrapper {
        position: relative;
        height: 170vh;
        width: 100vw;
        margin: auto;
    }

    form {
        
        
        margin-top: 12vh;
        
        width: 50vw;
        
        border: 3px dashed rgb(0, 0, 0);
    }

    form p {
        position: absolute;
        text-align: center;
        line-height: 15px;
        width: 55vw;
        color: #black;
        font-family: montserrat;
    }

    form input {
        position: absolute;
        outline: none;
        opacity: 0;
    }

    form button {
        margin: 0;
        color: #black;
        background: #white;
        width: 3200px;
        height: 35px;
        margin-top: 220px;
        margin-left: 0px;
        border-radius: 4px;
        transition: all .4s ease;
        outline: none;
    }

    form button:hover {
        background: #80B494;
        color: #black;
    }

    form button:active {
        border: 0;
    }

    .title {
        color: black;
        text-align: center;
    }

    input {
        font-family: montserrat;
        padding: .5em;
        width: 70%;
        border: 3px solid var(#444);
        border-radius: 7px;
    }

    input[required]:placeholder-shown {
        border-color: #80B494;
    }

    body {
        text-align: center;
    }

    .btn {
        border-radius: 7px;
        color: black;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

    .btn {
        transition-duration: 0.4s;
    }

    .btn:hover {
        background-color: #80B494;
        color: black;
    }

    .Post-one {
        height: 30px;
        margin-top: 280px;
        margin-left: 0px;
    }
</style>

<body>

    <div class="form-wrapper">
        <div class="form-postlisting">

            <h1 class="title" style="font-family:Montserrat" style="text-align:center">Post Listing</h1>

            <form action="upload.php" method="POST">
                <input type="file" multiple>
                <p>Drag your Image files here or click in this area.</p>
                <button type="submit">Upload</button>
            </form>

            <div class="Post-one">
                <label for="Address"><b>Address</b></label>
                <input type="text" placeholder="Enter Address" name="Address" required>
            </div>
            <div class="Post-two">
                <label for="City"><b>City</b></label>
                <input type="text" placeholder="Enter City" name="City" required>
            </div>
            <div class="Post-three">
                <label for="state"><b>State</b></label>
                <input type="text" placeholder="Enter State" name="state" required>
            </div>
            <div class="Post-four">
                <label for="Zipcode"><b>Zip Code</b></label>
                <input type="text" placeholder="Enter Zip Code" name="Zipcode" required>
            </div>
            <div class="Post-five">
                <label for="Bed"><b>Bed</b></label>
                <input type="text" placeholder="Enter Number of Beds" name="Bed" required>
            </div>
            <div class="Post-six">
                <label for="Bath"><b>Bath</b></label>
                <input type="text" placeholder="Enter Number of Bathrooms" name="Bath" required>
            </div>
            <div class="Post-seven">
                <label for="Price"><b>Price</b></label>
                <input type="text" placeholder="Enter Price in US dollars" name="Price" required>
            </div>
            <div class="Post-button">
                <button type="submit" class="btn">Post</button>

            </div>

        </div>
    </div>
</body>
<script>
    $(document).ready(function(){
  $('form input').change(function () {
    $('form p').text(this.files.length + " file(s) selected");
  });
});
</script>

</html>