<!DOCTYPE html>
<html>
<style>
.form-popup {
  position: fixed;
  right: 150px;
  border: 5px solid #f1f1f1;
  
}

/* Add styles to the form container */
.form-popup {
  max-width: 400px;
  max-height: 400px;
  padding: 20px;
  background-color: #f0f0f0;
}
.btn{
 position:absolute;
    bottom: 0;
    right: 0;
    
}


</style>

<h1 style="text-align:center">Post Listing</h1>

<body>

<div class="form-popup" id="myForm">
  <form>
    <fieldset style="position: relative">
    <h1 style="text-align:center">Post Listing</h1>
   
   <div class="Post-one">
    <label for="Address"><b>Address</b></label>
    <input type="text" placeholder="Enter Address" name="Address" required>
</div>
<div class="Post-two">
    <label for="City"><b>City</b></label>
    <input type="text" placeholder="Enter City" name="City" required>
    </div>
    <div class="Post-three">
    <label for="state"><b>State</b></label>
    <input type="text" placeholder="Enter State" name="state" required>
</div>
<div class="Post-four">
    <label for="Zipcode"><b>Zip Code</b></label>
    <input type="text" placeholder="Enter Zip Code" name="Zipcode" required>
    </div>
    <div class="Post-five">
    <label for="Bed"><b>Bed</b></label>
    <input type="text" placeholder="Enter Number of Beds" name="Bed" required>
    </div>
    <div class="Post-six">
    <label for="Bath"><b>Bath</b></label>
    <input type="text" placeholder="Enter Number of Bathrooms" name="Bath" required>
    </div>
    <div class="Post-seven">
    <label for="Price"><b>Price</b></label>
    <input type="text" placeholder="Enter Price in US dollars" name="Price" required>
</div>
<div class="Post-button">

<button type="submit" class="btn">Post</button> 

</div>
</fieldset>
</form>
</div>
</body>

</html>
