
<body class ="open-body">
    <div class = "Overbox">
    <form class = "form-registration">
    <img src ="logo.png" class="logo">
    <h1>Register</h1>
    <div class ="input-name">
       
        <input type = "text" name="" placeholder="Username" id ="loginUser" required>
        
        <input type = "email" name="" placeholder="E-mail Address" id ="email" required>
        <input type = "password" name="" placeholder="Password" id ="loginPassword" required>
        <input type = "password" name="" placeholder="Confirm password" id ="loginPassword" required>
        
        
    </div>

    <input type ="submit" name="" value="Sign Up" class ="submit-btn-registration">
    <div class = toRegisterr>
        <p class="txt-registration">Already Have an account? <a href="login.html" class = "bud-registration">Login</a></p>
    </div>
    </form>
            </div>
    
</body>