
<div class ="open-body">
     <img src="images\pic1.jpg" class="background">

    <div class = "Overbox">
    <form class = "form-registration" name ="form1">
     <img src="images\logo.png" class="logo-login">
     <style>

                    .background{
                            position: absolute;
                    top: 5%;
                    left: 0%;
                   height: 780px;
                    width: 100%;
     
     
                     }
                .form-registration{
                     align-items: center;
                    position: absolute;
                    top: 15%;
                    left: calc(40% - 50px);
                    width:430px;
                    height: 550px;
                    padding: 80px 40px 40px;
                   background: #1a735d;
                    border-radius: 5%;
                    box-shadow: 0 15px 25px rgba(0,0,0,1);
                    }
                    .logo-login{
                            width: 150px;
                            height:150px;
                            border-radius: 50%;
                            position: absolute;
                            top: -60px;
                            left: calc(46% - 50px);

                        }
                h1{         
                    position: absolute;
                    top: 10%;
                    left: 23%;
                    text-align: center;
                    letter-spacing: 5px;
                    font-size: 68px;
                    color:  #EAEFF2;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    font-style: oblique;
                
                    }
                    .form-registration .input-name input{
                        width: 105%;
                        padding: 0px; 
                        font-size: 2rem;
                        letter-spacing: 1px;
                        border: none;
                        border-bottom: 1px solid #fff0f072;
                        outline: none;
                        background-color: transparent;
                        color: rgb(255, 249, 249);
                        height: 50px;
                        margin-bottom: 30px;
                        font-size: xx-large;
                        font-family: 'Courier New', Courier, monospace;


                    }
                    .submit-btn-registration{
                     position: absolute;
                    top: 78%;
                    left: 10%;
                    display: inline-block;
                    height: 60px;
                    width:350px;
                    text-align: center;
                    
                    border-radius: 30px;
                    color:  rgb(83, 131, 104);
                    border: none;
                    font-size: 40px;
                    font-family: 'Times New Roman', Times, serif;
                    background-color: #EAEFF2;
                    margin-bottom: 10px;
                    margin-left: 10px;
                    /* padding: 20px; */
                    }

                .txt-registration{
                    position: absolute;
                    top: 88%;
                    left: 15%;
                    color: black;
                    margin-left: 70px;
                    font-family: 'Times New Roman', Times, serif;
                    font-weight: bold;
                }
                .bud-registration{
                    color: #EAEFF2;
                    
                }
                .toRegister{
                   
                     border-bottom: 2px solid #2d2e2e;
                     border-bottom-width: 10px;
                    
                }
                .form-registration .input-name ::placeholder{
                        color: black;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
        </style>

    <h1>Register</h1>
    <div class ="input-name">
       
        <input type = "text" name="" placeholder="Full Name" id ="loginUser" required>
        
        <input type = "email" name="text1" placeholder="E-mail Address" id ="email" required>
        <input type = "password" name="" placeholder="Password" id ="password" required >
        <input type = "password" name="" placeholder="Confirm password" id ="cpassword" required>
        
        
    </div>
    <button onclick="validate()" class ="submit-btn-registration">Sign Up</button>
    {{!-- <a class="submit-btn-registration" href="/">Sign up</a> --}}
    {{!-- <input type ="submit" name="" value="Sign Up" class ="submit-btn-registration" href ="/"> --}}
    <div class = toRegisterr>
        <p class="txt-registration">Already Have an account? <a href="login" class = "bud-registration">Login</a></p>
    </div>
    </form>
            </div>
    

</div>
<script src="./public/js/validate.js"></script>
